@page "/Search"
@inject Data Data 

<div class="d-flex flex-row justify-content-between">
    <div>
        <RadzenDropDown Data="Folders" TValue="int" ValueProperty="Id" TextProperty="FullPath" Change="@(args => RootOnChange(args))"/>
    </div>
    <div>
        <RadzenTextBox Placeholder="search" ValueChanged="@(args => RefreshListAsync())" @ref="SearchBox"/>
    </div>
</div>

@if (Page > 0)
{
    <RadzenButton Click="@(args => GotoPage(-1))" Icon="skip_previous" ButtonStyle="ButtonStyle.Info"/>
}

<span>@Page</span>

<RadzenButton Click="@(args => GotoPage(1))" Icon="skip_next" ButtonStyle="ButtonStyle.Info"/>

<hr/>

<RadzenAccordion>
    <Items>
    @foreach (var folderGrp in WorkItems.GroupBy(item => item.FolderId))
    {
        <RadzenAccordionItem Text="@($"{folderGrp.First().FolderPath} - {folderGrp.Count()}")">
            <table class="table">
                <tr>
                    <th>Number</th>                    
                    <th>Title</th>
                    <th>Iteration</th>
                    <th>Activity</th>
                    <th>Assigned To</th>
                </tr>
                @foreach (var item in folderGrp)
                {
                    <tr>
                        <td>@item.Number</td>                        
                        <td>
                            @item.Title
                            @foreach (var lbl in Labels[item.Id])
                            {
                                <span class="badge" style="background-color:@lbl.BackColor;color:@lbl.TextColor">@lbl.Name</span>
                            }
                        </td>
                        <td>@item.Iteration</td>
                        <td>@item.CurrentActivity</td>
                        <td>@item.AssignedTo</td>
                    </tr>
                }
            </table>
        </RadzenAccordionItem>
    }
    </Items>
</RadzenAccordion>

@code {
    int RootId;
    int WorkspaceId;
    int Page;
    IEnumerable<MyFolderTreeResult> Folders;
    IEnumerable<OpenWorkItemsResult> WorkItems = Enumerable.Empty<OpenWorkItemsResult>();
    ILookup<int, OpenWorkItemLabelsResult> Labels;
    RadzenTextBox SearchBox;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        WorkspaceId = await Data.GetWorkspaceIdAsync();
        RootId = WorkspaceId * -1;

        Folders = await Data.QueryAsync(new MyFolderTree(RootId));
        await RefreshListAsync();

        Labels = (await Data.QueryAsync(new OpenWorkItemLabels()
        {
            WorkspaceId = WorkspaceId
        })).ToLookup(row => row.WorkItemId);
    }

    async Task RootOnChange(object rootValue)
    {
        RootId = (int)rootValue;
        await RefreshListAsync();
    }

    async Task GotoPage(int increment)
    {
        Page += increment;
        await RefreshListAsync();
    }

    async Task RefreshListAsync()
    {
        WorkItems = await Data.QueryAsync(new OpenWorkItems(RootId) 
        { 
            WorkspaceId = WorkspaceId, 
            Text = SearchBox.Value,
            Page = Page 
        });
    }
}
