@page "/setup/labels"
@inject Data Data 

<h3>Labels</h3>
<p>Use labels to categorize work items, for example as <strong>bugs</strong> or <strong>enhancements</strong>.</p>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<label>
    Show items
    <select name="IsActive" @onchange="(e) => ShowActiveOnChange(e)" class="form-control">
        <option value="true">Active</option>
        <option value="false">Inactive</option>
    </select>    
</label>

<table class="table">
    <tr>
        <th>Label Name</th>
        <th>Back Color</th>
        <th>Text Color</th>
        <th>Active</th>
        <th>Preview</th>
        <th></th>
    </tr>
    @foreach (var item in AllLabels)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.BackColor</td>
            <td>@item.TextColor</td>
            <td></td>
            <td><span class="badge" style="background-color:@item.BackColor;color:@item.TextColor">@item.Name</span></td>
            <td><button @onclick="@(e => DeleteLabel(item.Id))" href="#" class="btn btn-sm btn-secondary">delete</button></td>
        </tr>
    }
</table>

<EditForm Model="CreateLabel" OnSubmit="CreateLabelSubmit">
    <div class="row">
        <div class="form-group">
            <label>Create Label:</label>
            <InputText @bind-Value="CreateLabel.Name" class="form-control" required="required"/>
        </div>

        <div class="form-group">
            <label>Background Color:</label>
            <InputText @bind-Value="CreateLabel.BackColor" class="form-control" required="required"/>
        </div>

        <div class="form-group">
            <label>Text Color:</label>
            <InputText @bind-Value="CreateLabel.TextColor" class="form-control" required="required"/>
        </div>

        <div class="form-group">
            <label>Preview:</label>
            <span class="badge" style="background-color:@CreateLabel.BackColor;color:@CreateLabel.TextColor">@CreateLabel.Name</span>
        </div>        
    </div>
    <div class="row">
        <button class="btn btn-dark">Create Label</button>
    </div>
</EditForm>

@code {
    private string ErrorMessage { get; set; }

    public bool? IsActive { get; set; }

    public Label CreateLabel { get; set; } = new Label();

    protected IEnumerable<Label> AllLabels { get; set; } = Enumerable.Empty<Label>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        CreateLabel = new Label() { WorkspaceId = await Data.GetWorkspaceIdAsync() };

        await RefreshListAsync();
    }

    async Task CreateLabelSubmit()
    {
        var result = await Data.TrySaveAsync(CreateLabel);
        if (result.IsSuccessful)
        {
            CreateLabel = new Label() { WorkspaceId = await Data.GetWorkspaceIdAsync() };
            await RefreshListAsync();
        }
        else
        {
            ErrorMessage = result.Exception.Message;
        }
    }

    async Task ShowActiveOnChange(ChangeEventArgs e)
    {
        IsActive = bool.Parse(e.Value.ToString());
        await RefreshListAsync();
    }

    async Task RefreshListAsync()
    {
        AllLabels = await Data.QueryAsync(new MyLabels()
        {
            WorkspaceId = await Data.GetWorkspaceIdAsync(),
            IsActive = IsActive ?? true
        });
    }

    async Task DeleteLabel(int id)
    {
        ErrorMessage = null;

        var result = await Data.TryDeleteAsync<Label>(id);
        if (result.IsSuccessful)
        {
            await RefreshListAsync();
        }
        else
        {
            ErrorMessage = result.Exception.Message;
        }
    }
}
